@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #D1D5DB;
  border-radius: 10px;
}

.density-table th,
.density-table td {
  padding: 6px 8px;
  font-size: 12px;
  border-bottom: 1px solid #F3F4F6;
}

.sidebar-item-active {
  background-color: #EFF6FF;
  color: #0066FF;
  border-right: 4px solid #0066FF;
}

.chart-container {
  height: 400px;
}
